*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: montserrat;
}

nav{
    background: #e68200;
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 10px;
}

a.active, a:hover{
    background: #ffa41b;
    transition: 0.5s;
}

.daftar{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(pudding2.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
    padding: 50px;
}

.daftar h1{
    color: white;
}

.daftar ul li{
    margin: 20px;
}

.daftar ul li a{
    color: aliceblue;
    text-decoration: none;
    transition: 0.5s;
}

.daftar ul li a:hover, a.active{
    background: rgb(179, 179, 179);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;
}

#explanation1 h2{
    margin-left: 30px;
    color: white;
}

#explanation2 h2{
    margin-left: 30px;
    color: white;
}

#explanation3 h2{
    margin-left: 30px;
    color: white;
}

#explanation4 h2{
    margin-left: 30px;
    color: white;
}

#explanation5 h2{
    margin-left: 30px;
    color: white;
}

.form{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(chefmeetup.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}

.form .text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.form .text-box h1{
    font-size: 62px;
}

.form .text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background:  transparent;
    position: relative;
    cursor: pointer;
}

.btn:hover{
    border: 1px solid #ffa41b;
    background: #ffa41b;
}
